body {
    background-color: #191a19;
    text-align: center;
}

#title {
    color: #58bee0;
    font-family: Helvetica;
}

.centered {
    display: block;
    justify-content: center;
}

#albumtracklist {
    color: #ffffff;
    font-family: Helvetica;
    font-size: 20px;
    list-style-type: decimal;
}

#albumtrack,
.albumresult,
.artistresult {
    background-color: #58bee0;
    padding: 10px;
    margin: 2px;
}

.artistresult,
.albumresult {
    width: 100%;
}

#albumresults,
#artistresults,
#discography {
    list-style-type: none;
}

#inputselector {
    padding-top: 0.6%;
}